@font-face {
    font-family: my-cool-font;
    src: url(../fonts/the-font-file.woff);
  }
  
  h1 {
    font-family: my-cool-font, sans-serif;
  }

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right {
    width: 45vw;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.left {
    background-color: brown;
    width: 30vw;
}
.footer{
    position: absolute;
    bottom: 2px;
    right: 52em;
    color: white;
}
.link{
    color: white;
    font-size: smaller;
}
.logo{
    position: absolute;
    top: 200px;
    right: 72%;
    height: 5em;
    width: 4em;
}
.odin{
    color: white;
    position: absolute;
    top: 220px;
    right: 69%;
}
.odin_logo{
    background-color: rgb(247, 244, 244) transparent;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.one {
    background-color: hsl(0, 0%, 91%);
    padding: 30px;
    font-size: 20px;
    height: 30vh;
}
.two {
    background-color: rgb(242, 244, 250); 
    height: 40vh;
    align-items: center;

}

.form_text{
    margin: 30px;
    font-size: large;
}
.main_form_div{
    display: flex;
    flex-direction: row;
    margin: 30px;
    width: 500px;
    justify-content: space-between;
    
}
.form_div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label{
    font-size: small;

}

input {
    width: 200px;
    height: 20px;
    border-radius: 4px ;
}

input:focus{
    border-color: 1px solid blue;
}

input:invalid{
    border-color: 1px solid red;
}

.three {
    background-color:  hsl(0, 0%, 94%);
    padding: 30px;
    height: 20vh;
}
button {
    font-weight: bolder;
    background-color: #596D48;
    color: aliceblue;
    border-radius: 4px;
    border: 1px  #596D48;
    height: 30px;
    width: 150px;
}

.last_text{
    margin-top: 30px;
}
a{
    color: #596D48;
}